<p id="notice"><%= notice %></p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @beer.type %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beer.rating %>
</p>

<p>
  <strong>Date:</strong>
  <%= @beer.date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @beer.comments %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
