<%= form_for(@marlble) do |f| %>
  <% if @marlble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marlble.errors.count, "error") %> prohibited this marlble from being saved:</h2>

      <ul>
      <% @marlble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
